.house-img {
  height: 50px;
  width: 40px;
}
.character-img {
  width: 200px;
  height: 300px;
}
.character-link {
  height: 500px;
  width: 200px;
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
