.character-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.character-item {
  height: 450px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(250, 243, 229);
  margin: 10px;
  color: rgb(100, 77, 34);
  border-radius: 10px;
  box-shadow: 0 0 5px rgb(21, 22, 31);
}
