.character-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.character-item {
    height: 450px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(202, 120, 42);
    margin: 10px;
    color: white;
    border: 1px solid black;
}