body {
  min-height: 100vh;
}
.main-title {
  margin-left: 30px;
  width: 350px;
}

.title-img {
  width: 350px;
  height: 150px;
}
.main-container {
  background: url(./images/bgc2.jpg
  ) no-repeat;
  background-size: 100% 100%;
}